@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter-Black.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter-Light.ttf") format("truetype");
  font-weight: 200;
}

$font-main: 'inter', sans-serif;

