body {
  font-family: $font-main;
  font-weight: 400;
  background-color: $color-main;
  position: relative;
  height: 100vh;
}

.wrap{
  max-width: 1440px;
  width: 100%;

  box-sizing: border-box;
  padding: 0 145px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

input::placeholder{
  font-weight: 400;
  color: #000;
}

input{
  color: $color-second;
}

.searchBar:hover{
  border: $border-second;
}
