$color-main: #ecf0f1;
$color-second: #6c5ce7;

$border-radius: 2px 2px 2px 2px;
$border-main: 0px solid #6c5ce7;
$border-second: 1px solid #6c5ce7;

$box-shadow: 10px 10px 24px -7px rgba(0,0,0,0.15);
